#chat-div{
    margin: 50px;
    border: 1px solid black;
    outline: 1px solid red;
    outline-color: aquamarine;
    outline-width: 35px;
    height: 80vh;
    width: auto;
    overflow: auto;
    padding-bottom: 10px;
    display: none;
}

#send-div{
    position:absolute;
    bottom: 12%;

}

 
#main{
    overflow: auto;
    width: 100%;
}

#friend{
    display: inline;
    color: red;
    margin-left: 30%;
    border: 1px solid pink;
    border-radius: 150px 140px;
}


span{
    margin-top: 20px;
}

#user{
    padding-left: 10px;
    width: 80%;
    color: green;
}
#user p{
    font-size: 9px;
    color: brown;
    margin-top: 5px;
}

#user span{
    border: 1px solid thistle;
    border-radius: 150px 140px;
    padding: 8px;
}

#start-btn{
    position: absolute;
    top: 40%;
    left: 40%;
}

#main #friend p{
    padding: 0;
    margin: 0;
    color: blue;
}

#friend #date{
    font-size: 8px;
    color: brown;
    margin-top: 5px;
}